* {
  margin: 0;
  padding: 0;
}

/* INICIO INDEX */
.bg-sds {
  background-color: #fcf5c7 !important;
}

.section--slider {
  margin-bottom: 50px;
}

.d-block {
  height: 200px;
}

.section--lideresmarcas {
  display: flex;
  flex-direction: column;
  margin: 1px solid black;
}

.section__titulo {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  color: burlywood;
  background-color: #461220;
  letter-spacing: 3px;
  padding: 5%;
  text-align: center;
}

.section__container {
  margin-top: 20px;
}

.container__destacados--imagen {
  width: 100%;
}

.productos__descripcion {
  font-family: "Tungsten", sans-serif;
  letter-spacing: 1px;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  border: 5px double #461220;
  padding: 2%;
  background-color: #cadbc0;
  width: 50%;
}

.article__iframe {
  display: none;
}

.article_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
}

.article__listado--marcas {
  width: 60%;
  list-style: none;
}

.listado__logo {
  margin-top: 20px;
  width: 100%;
}

/* INICIO PRODUCTOS */
.productos__imagen {
  width: 60%;
  height: 80%;
}

.productos__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.main__filtro--container {
  display: none;
}

.main__container {
  background-color: #fcf5c7;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
  margin: 0% 5%;
}

/* INICIO QUIENES SOMOS */
#quienes_somos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  margin: 0% 5%;
  padding-bottom: 50px;
}

.article__parrafo {
  font-family: "DM Serif Display", serif;
  font-size: 20px;
  margin: 1em 10%;
  text-align: center;
}

/* INICIO FAQ */
#preguntas_frecuentes {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
  margin: 0% 5%;
}

.titulares {
  background-color: #461220;
  color: #fcf5c7;
}

.subtitulos {
  color: red;
}

/* INICIO CONTACTO */
#formulario_pag {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
  margin: 0% 5%;
  text-align: center;
}

.formulario__elemento {
  width: 80%;
  font-family: "DM Serif Display", serif;
  border-radius: 5px;
  text-align: center;
}

label {
  color: yellow;
  background-color: black;
  margin: 20px 0px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.formulario__textarea {
  width: 100%;
  font-family: "DM Serif Display", serif;
}

.botones {
  background-color: aquamarine;
  width: 100%;
  margin-top: 40px;
  border-radius: 5px;
}

.navbar {
  border-bottom: 1px solid grey;
  margin: 0% 5%;
}

.nav__logo {
  width: 150px;
  height: 150px;
}

.nav-item {
  margin: 25px;
}
.nav-item:hover {
  text-decoration: underline red;
}

.nav-link {
  font-family: "Tungsten", sans-serif;
  font-size: 35px;
}

/* INICIO FOOTER */
#footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__container {
  display: block;
  border-bottom: 1px solid wheat;
  padding-top: 50px;
}

.footer__titulo {
  font-family: "DM Serif Display", serif;
  padding: 5px;
}

.footer__container--redes {
  display: flex;
  justify-content: center;
}

.redes__icono {
  width: 50px;
  margin: 25px;
}

.footer__container--newsletter {
  padding-bottom: 30%;
}

.input_email {
  margin-top: 20px;
  width: 60%;
}

.footer__input--enviar {
  border-radius: 20px;
  background-color: #461220;
  height: 40px;
  width: 140px;
  color: white;
  margin-top: 20px;
}

/* MEDIA QUEREIS TABLET */
@media screen and (min-width: 768px) {
  /* INDEX NAV Y FOOTER */
  .navbar {
    padding-bottom: 50px;
  }
  .d-block {
    height: 300px;
  }
  .section__titulo {
    width: 100%;
    margin-top: 50px;
  }
  .section--slider {
    margin: 0% 5%;
  }
  .section--lideresmarcas {
    margin: 10% 5%;
  }
  .article__iframe {
    display: block;
    width: 100%;
    height: 400px;
    margin-top: 50px;
  }
  iframe {
    width: 100%;
    height: 100%;
    border: 5px double #461220;
    padding: 2%;
  }
  .article_container {
    margin: 0% 5%;
  }
  .container__destacados--imagen {
    width: 350px;
  }
  .footer__input--enviar {
    border-radius: 20px;
    background-color: #461220;
    color: white;
    width: 25%;
    height: 10%;
  }
  .input_email {
    width: 50%;
  }
  /* PRODUCTOS */
  .main__container {
    margin: 0% 5%;
  }
  .productos__imagen {
    width: 200px;
    height: 200px;
  }
}
/* MEDIA QUERIES DESKTOP */
@media screen and (min-width: 1024px) {
  /* INDEX */
  .button__navbar {
    max-height: 50px;
  }
  .nav__logo {
    width: 300px;
    height: 300px;
  }
  .navbar {
    margin: 0% 5%;
  }
  .nav-link {
    font-family: "Teko", sans-serif;
    font-size: 3em;
    margin-right: 50px;
  }
  .section--slider {
    margin-bottom: 40px;
  }
  .section--lideresmarcas {
    margin-top: 100px;
  }
  .d-block {
    width: 100%;
    height: 100%;
  }
  .section__titulo {
    font-family: "Teko", sans-serif;
    color: burlywood;
    font-size: 70px;
    text-align: center;
    background-color: #461220;
    padding: 0%;
  }
  .section__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .productos__descripcion {
    margin-top: 20px;
  }
  .article__iframe {
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
  }
  .article__parrafo {
    font-size: 30px;
  }
  iframe {
    width: 100%;
    height: 600px;
  }
  .article_container .section__titulo {
    width: 100%;
  }
  .article__listado--marcas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
    align-items: center;
    width: 100%;
  }
  .listado__logo {
    width: 100%;
    height: auto;
  }
  .input_email {
    width: 30%;
  }
  .footer__input--enviar {
    border-radius: 20px;
    background-color: #461220;
    color: white;
    width: 300px;
    height: 50px;
    margin-left: 20px;
  }
  .footer__container--newsletter {
    padding-bottom: 2%;
  }
  /* PRODUCTOS */
  .main__container {
    margin: 0% 5%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
  }
  .main__filtro--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 15%;
  }
  .productos__imagen {
    width: 300px;
    height: 300px;
  }
  .productos__descripcion {
    font-size: 30px;
    border-color: #461220;
  }
  .filtro__listado {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .filtro__listado--item {
    list-style: none;
    font-size: 20px;
    font-family: "DM Serif Display", serif;
    margin-top: 25px;
    margin-left: 0px;
  }
  .filtro__checkbox {
    height: 25px;
    width: 25px;
  }
  .formulario {
    height: 200%;
    text-align: center;
  }
  input {
    height: 50px;
    font-size: 30px;
    margin-bottom: 30px;
  }
  label {
    font-size: 30px;
    margin-bottom: 50px;
  }
  select {
    height: auto;
    width: auto;
    font-size: 30px;
    margin-bottom: 50px;
  }
  .formulario__textarea {
    font-size: 30px;
    height: 200px;
    width: 800px;
  }
  .botones {
    width: 350px;
  }
}
@font-face {
  font-family: "Tungsten";
  src: url(../fonts/Tungsten-Bold.ttf) format("truetype");
}

/*# sourceMappingURL=styles.css.map */
