/* INICIO CONTACTO */
$background-titulos: #461220;
$max-width: 100%;
$limites-bloques: 1px solid black;
$max-height: 100%;
$margenes-bloques: 0% 5%;
$formulario-fonts: "DM Serif Display", serif;

@keyframes fade-botones1{
  100% {background-image: linear-gradient(to right, red,pink);}
}
@keyframes fade-botones2{
  100% {background-image: linear-gradient(to right, orange,yellow);}
}
body{
  background-color: #fcf5c7;
}

#formulario_pag {
    display: flex;
    flex-direction: column;
    border-bottom: $limites-bloques;
    padding-bottom: 50px;
    margin: $margenes-bloques;
    text-align: center;
   
    }
 
  .formulario__elemento {
    width: $max-width*0.8;
    font-family: "DM Serif Display", serif;
    border-radius: 5px;
    text-align: center;
  }
  label{
    color: black;
    background-image: linear-gradient(to right, red, yellow);
    margin: 20px 0px;
  }
  .formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
  }
  .formulario__textarea{
    width: $max-width;
    font-family: $formulario-fonts;
    text-align: center;
  }
  
  .botones{
    width: $max-width;
    margin-top: 40px;
    border-radius: 5px;
    font-family: $formulario-fonts;
  
  }
  $botones: (
    enviar: orange,
    borrar: red,
  );

  $animaciones:(
    enviar: fade-botones1,
    borrar: fade-botones2,
  );
  @each $boton, $color in $botones{
    .boton-#{$boton} {
      background-color: $color;
    }
  }
  @each $boton, $keyframe in $animaciones{
    .boton-#{$boton}{
      animation: $keyframe;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }