* {
    margin: 0;
    padding: 0;
  }
$max-height:100%;
$max-width:100%;
$limites-bloques: 1px solid black;
$backgronund-color:#fcf5c7;
$titulos-fuente: "Teko", sans-serif; 
$productos-fuente: "Tungsten", sans-serif; 

@mixin titulo($color-titulo:burlywood) { 
  font-family: $titulos-fuente;
  font-size: 30px;
  color: $color-titulo;
  background-color: #461220;
  letter-spacing: 3px;
  padding: 5%;
  text-align: center;
  
}
@mixin descripcion-productos{
    font-family: $productos-fuente;
    letter-spacing: 1px;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    border: 5px double #461220;
    padding: 2%;
    background-color: #cadbc0;
    width: $max-width /2;

@keyframes animacion_productos {
  0% {width: 50%;}
  25% {width: 75%;}
  50% {width: 100%;}
  75% {width: 75%;}
  100% {width: 50%;} 
   
}
}
  /* INICIO INDEX */
  .bg-sds {
    background-color: #fcf5c7 !important;
  }
  
  .section--slider {
    margin-bottom: 50px;
  }
  
  .d-block {
    height: 200px;
  }
  
  .section--lideresmarcas {
    display: flex;
    flex-direction: column;
    margin: $limites-bloques;
  }
  
  .section__titulo {
   @include titulo()
  }
  
  .section__container {
    margin-top: 20px;
  }
  
  .container__destacados--imagen {
    width: $max-width*0.6;
    &:hover{
      animation-name: animacion_productos;
      animation-duration: 10s;
      animation-iteration-count: 50%;
      animation-timing-function: 5s;

    }
   

  }
  
  .productos__descripcion {
    @include descripcion-productos()
  }
  
  .article__iframe {
    display: none;
  }
  
  .article_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: $limites-bloques;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    height: $max-height;
  }
  
  .article__listado--marcas {
    width: $max-width * 0.6;
    list-style: none;
  }
  
  .listado__logo {
    margin-top: 20px;
    width: $max-width;
  }
  
