* {
    margin: 0;
    padding: 0;
  }

$background-titulos: #461220;
$font-titulos: "Teko", sans-serif;
$color-titulos: burlywood;
$max-width: 100%;
$limites-bloques: 1px solid black;
$max-height: 100%;
$margenes-bloques: 0% 5%;
 
  /* INICIO INDEX */

  .bg-sds{
    background-color: #fcf5c7 !important;
   }
.section--slider {
    margin-bottom: 50px;
  }
  .d-block {
    height: 200px;
  }
  
  .section--lideresmarcas {
    display: flex;
    flex-direction: column;
    margin: $margenes-bloques;
  }
  
  .section__titulo {
    font-family: $font-titulos;
    font-size: 30px;
    color: $color-titulos;
    background-color: $background-titulos ;
    letter-spacing: 3px;
    padding: 5%;
    text-align: center;
   
  }
  .section__container {
    margin-top: 20px;
  }
  
  .container__destacados--imagen {
    width: $max-width;
  }
  
  .productos__descripcion {
    font-family: "Tungsten", sans-serif;
    letter-spacing: 1px;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    border: 5px double #461220;
    padding: 2%;
    background-color: #cadbc0;
    width: calc($max-width / 2);
  }
  .article__iframe {
    display: none;
  }
  .article_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: $limites-bloques;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    height: $max-height;
  }
  .article__listado--marcas {
    width: 60%;
    list-style: none;
  }
  .listado__logo {
    margin-top: 20px;
    width: $max-width;
  }