/* INICIO PRODUCTOS */

$max-height:100%;
$max-width:100%;
$limites-bloques: 1px solid black;
$backgronund-color:#fcf5c7;
$margenes: 0% 5%;
.productos__imagen {
    width: $max-width*0.6;
    height: $max-height*0.8;
    transition: all 2s;
    &:hover {
      height: 500px;
      width: 500px;
  }
  }
  .productos__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
   
     
  }
  .main__filtro--container {
    display: none;
  }
  .main__container {
    background-color: $backgronund-color;
    display: flex;
    flex-direction: column;
    border-bottom: $limites-bloques;
    padding-bottom: 50px;
    margin: $margenes;
  }
  