/* MEDIA QUERIES DESKTOP */
@media screen and (min-width: 1024px) {
    /* INDEX */
   
    .button__navbar {
      max-height: 50px;
    }
    .nav__logo {
      width: 300px;
      height: 300px;
    }
    .navbar {
      margin: 0% 5%;
    }
    .nav-link {
      font-family: "Teko", sans-serif;
      font-size: 3em;
      margin-right: 50px;
    }
  
    .section--slider {
      margin-bottom: 40px;
      
    }
    .section--lideresmarcas {
      margin-top: 100px;
    }
    .d-block {
      width: 100%;
      height: 100%;
    }
    .section__titulo {
      font-family: "Teko", sans-serif;
      color: burlywood;
      font-size: 70px;
      text-align: center;
      background-color: #461220;
      padding: 0%;
    }
    .section__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .productos__descripcion {
      margin-top: 20px;
    }
    .article__iframe {
      margin-top: 200px;
      margin-bottom: 200px;
      width: 100%;
    
    }
    .article__parrafo{
      font-size: 30px;
    }
    iframe {
      width: 100%;
      height: 600px;
    }
    .article_container .section__titulo {
      width: 100%;
    }
    .article__listado--marcas {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10%;
      align-items: center;
      width: 100%;
    }
    .listado__logo {
      width: 100%;
      height: auto;
    }
  
    .input_email {
      width: 30%;
    }
    .footer__input--enviar {
      border-radius: 20px;
      background-color: #461220;
      color: white;
      width: 300px;
      height: 50px;
      margin-left: 20px;
    }
    .footer__container--newsletter {
      padding-bottom: 2%;
    }
    /* PRODUCTOS */
    .main__container {
      margin: 0% 5%;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: start;
    }
    .main__filtro--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      width: 15%;
    }
  
    .productos__imagen {
      width: 300px;
      height: 300px;
    }
    .productos__descripcion {
      font-size: 30px;
      border-color: #461220;
    }
    .filtro__listado {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    .filtro__listado--item {
      list-style: none;
      font-size: 20px;
      font-family: "DM Serif Display", serif;
      margin-top: 25px;
      margin-left: 0px;
    }
    .filtro__checkbox {
      height: 25px;
      width: 25px;
    }
  
  
    .formulario {
      height: 200%;
      text-align: center;
    }
    input {
      height: 50px;
      font-size: 30px;
      margin-bottom: 30px;
    }
    label {
      font-size: 30px;
      margin-bottom: 50px;
    }
    select {
      height: auto;
      width: auto;
      font-size: 30px;
      margin-bottom: 50px;
    }
    .formulario__textarea {
      font-size: 30px;
      height: 200px;
      width: 800px;
    }
    .botones {
      width: 350px;
    }
  }