/* MEDIA QUERIES DESKTOP */
@media screen and (min-width: 1024px) {
    /* INDEX */
    $font-titulos: "Teko", sans-serif;
    $font-general: "DM Serif Display", serif;
    $margenes: 0% 5%;
    $max-height: 100%;
    $max-width: 100%;
    $backgronund-color: #fcf5c7;

    @mixin listado-marcas{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      column-gap: 10%;
      align-items: center;
      width: $max-width;

    }
    .button__navbar {
      max-height: 50px;
    }
    .nav__logo {
      width: 300px;
      height: 300px;
    }
    .navbar {
      margin: $margenes;
    }
    .nav-link {
      font-family: $font-titulos;
      font-size: 3em;
      margin-right: 50px;
    }
  
    .section--slider {
      margin-bottom: 40px;
    }
    .section--lideresmarcas {
      margin-top: 100px;
    }
    .d-block {
      width: $max-width;
      height: $max-height
    }
    .section__titulo {
      font-size: 70px;
      text-align: center;
      padding: 0%;
    }
    .section__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
    .productos__descripcion {
      margin-top: 20px;
    }
    .article__iframe {
      margin-top: 200px;
      margin-bottom: 200px;
      width: $max-width;
    
    }
    .article__parrafo{
      font-size: 30px;
    }
    iframe {
      width: $max-width;
      height: 600px;
    }
    .article_container .section__titulo {
      width: $max-width;
    }
    .article__listado--marcas {
     @include listado-marcas() 
    }
    .listado__logo {
      width: $max-width;
      height: auto;
    }
  
    .input_email {
      width: $max-width*0.3;
    }
    .footer__input--enviar {
      border-radius: 20px;
      background-color: #461220;
      color: white;
      width: 300px;
      height: 50px;
      margin-left: 20px;
    }
    .footer__container--newsletter {
      padding-bottom: 2%;
    }
    /* PRODUCTOS */
    .main__container {
      margin: $margenes;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: start;
    }
    .main__filtro--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      width: $max-width *0.15;
    }
  
    .productos__imagen {
      width: 300px;
      height: 300px;
    }
    .productos__descripcion {
      font-size: 30px;
      border-color: #461220;
    }
    .filtro__listado {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    .filtro__listado--item {
      list-style: none;
      font-size: 20px;
      font-family: $font-general;
      margin-top: 25px;
      margin-left: 0px;
    }
    .filtro__checkbox {
      height: 25px;
      width: 25px;
    }
  
  #formulario_pag{
    background-color: $backgronund-color ;
    .formulario {
      text-align: center;
        input {
        height: 50px;
        font-size: 30px;
        margin-bottom: 30px;
      }
        label {
        @extend input;
      }
        select {
        @extend input;
        height: auto;
        width: auto;
      }
        .formulario__textarea {
        font-size: 30px;
        height: 200px;
        width: 800px;
      }
        .botones {
        width: 350px;
      }
    }
  }
}