/* MEDIA QUEREIS TABLET */
@media screen and (min-width: 768px) {
    /* INDEX NAV Y FOOTER */
    .navbar {
      padding-bottom: 50px;
    }
  
    .d-block {
      height: 300px;
    }
    .section__titulo {
      width: 100%;
      margin-top: 50px;
    }
    .section--slider {
      margin: 0% 5%;
    }
    .section--lideresmarcas {
      margin: 10% 5%;
    }
    .article__iframe {
      display: block;
      width: 100%;
      height: 400px;
      margin-top: 50px;
    }
    iframe {
      width: 100%;
      height: 100%;
      border: 5px double #461220;
      padding: 2%;
    }
    .article_container {
      margin: 0% 5%;
    }
    .container__destacados--imagen {
      width: 350px;
    }
    .footer__input--enviar {
      border-radius: 20px;
      background-color: #461220;
      color: white;
      width: 25%;
      height: 10%;
    }
    .input_email {
      width: 50%;
    }
    /* PRODUCTOS */
    .main__container {
      margin: 0% 5%;
    }
  
    .productos__imagen {
      width: 200px;
      height: 200px;
    }
  
  }