/* MEDIA QUEREIS TABLET */
$font-titulos: "Teko", sans-serif;
$font-general: "DM Serif Display", serif;
$margenes: 0% 5%;
$max-height: 100%;
$max-width: 100%;
$backgronund-color: #fcf5c7;
@media screen and (min-width: 768px) {
    /* INDEX NAV Y FOOTER */
    .navbar {
      padding-bottom: 50px;
    }
  
    .d-block {
      height: 300px;
    }
    .section__titulo {
      width: 100%;
      margin-top: 50px;
    }
    .section--slider {
      margin: $margenes
    }
    .section--lideresmarcas {
      margin: 10% 5%;
    }
    .article__iframe {
      display: block;
      width: 100%;
      height: 400px;
      margin-top: 50px;
    }
    iframe {
      width: 100%;
      height: 100%;
      border: 5px double #461220;
      padding: 2%;
    }
    .article_container {
      margin: 0% 5%;
    }
    .container__destacados--imagen {
      width: 350px;
    }
    .footer__input--enviar {
      border-radius: 20px;
      background-color: #461220;
      color: white;
      width: 17%;
      height: 5%;
    }
    .input_email {
      width: 50%;
    }
    /* PRODUCTOS */
    .main__container {
      margin: 0% 5%;
    }
  
    .productos__imagen {
      width: 200px;
      height: 200px;
    }

    .formulario__textarea{
      width: $max-width*0.8;
      height: 100px;
    }
  
  }